# environment variable files
.env
.env.*

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# builds
build
dist
.docz

# misc
.idea
.DS_Store
.vscode
.vs/
.eslintcache
.nvmrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
