# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# builds
frontend/public/bundle.js
frontend/build
frontend/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.vs/

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
